@model IEnumerable<EventFinder.Models.EventFinderEvent>

<h2>Daily Deal</h2>
<div>
    <div class="panel-heading">
        Here are some last minute deals!
    </div>
    @foreach (var item in Model)
    {
        <div class="panel-body">
            <p>Title:@Html.ActionLink(@item.Title,
                    "Details", "EventFinderEvents",
                    new { id = @item.EventFinderEventID }, 
                    new { @class = "btn btn primary" }) </p>
            <p>Start Date: @item.StartDate</p>
            <p>Start Time: @item.StartTime</p>
            <p>Event Location: @item.City,@item.State</p>
        </div>
    }
</div>
