@model MVCMusicStoreApplication.Models.Album

@{
    ViewBag.Title = "Details";
}

<div>
    <br/><br/>
    <h1>Details</h1>
    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <h3>@Html.DisplayFor(model => model.AlbumArtUrl)</h3>
    <h3>Artist: <span style="color: black;">@Html.DisplayFor(model => model.Artist.Name)</span></h3>
    <h3>Price: <span style="color:black;">@Html.DisplayFor(model => model.Price)</span></h3>
</div>
<button id="addToCart">
    @Html.ActionLink("Add to cart",
        "AddToCart", "ShoppingCart",
        new { id = Model.AlbumId },
        new { @class = "btn btn primary" }
    )
</button>
<br/><br/>
<p>
    @Html.ActionLink("Back to List", "Browse")
</p>
